{% extends "index.html" %}
{% block body %}
<h4 style="margin-top:20px">Users</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Password</th>
      <th>Op</th>
      <th>Attribute</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.op }}</td>
      <td>{{ user.attribute }}</td>
      <td>
        <form method=post action="">
          <input type="hidden" name="name" value="{{ user.id }}">
          <button name="delete" class="btn btn-sm btn-outline-danger">Delete User</button>
        </form>
      </td>
    </tr>
    {% endfor %}
    <tr>
      <form method=post action="">
        <td><input type="text" name="name" class="form-control" placeholder="Username"></td>
        <td><input type="text" name="pass" class="form-control" placeholder="Password"></td>
        <td>:=</td>
        <td>User-Password</td>
        <td><button name="add" class="btn btn-primary">Add User</button></td>
      </form>
    </tr>
  </tbody>
</table>
{% endblock %}
